
[Desktop Entry]
Name=Squeezebox
Comment=MPRIS 2 support for Logitech Media Server
Exec=slimpris2
Icon=sound
StartupNotify=false
Type=Application
Categories=Audio;Music;Player;
NoDisplay=true
X-DBUS-ServiceName=org.mpris.MediaPlayer2.squeezebox

